/* Name:Erica Huang
 * Date: 2-28-2015
 * File: webform.css
 * Purpose: Make webforms look cool.
 * Credit: Bootstrap for accordion menu, responsive tables and forms
 */

body {
   background-image:url('../images/paisley.png');
   font-family: Courier, monospace;
}
.main {
   margin:0 auto;
   max-width:800px;
   background-image:url('../images/white_wall_hash.png');
   width:100%;
   box-shadow: 10px 10px 5px #888888;
    border: dashed 5px #000;
   border-radius:10px;
}
.header {
    width:100%;
    text-align:center;
    font-family: Courier, monospace;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top:10px;
    color:black;
    background-image:url('../images/white_wall_hash.png');
    font-weight:bold;
    font-size:20px;
    border-bottom:dashed 5px #000;
}
.sub-header {
   text-align:left;
   margin-left: 20px;
   margin-right:20px;
}
.customBox input[type=checkbox],.customBox input[type=radio] {
    display:none;
}
.customBox {
	width: 40px;
	height: 40px;
	position: relative;
}
.customBox label {
	display: block;
	width: 100px;
	height: 20px;
	cursor: pointer;
	background: #fff;
}

.customBox input[type=checkbox]:checked+label{
   background-color: #ff0000;
}
.customBox input[type=radio]:checked+label{
  background-color: #ff0000;
}
.panel-title {
    background-image:url('../images/white_wall_hash.png');
}
.text {
    font-size:20px;
}
.jumbotron {
   box-shadow: 10px 10px 5px #888888;
    border: dashed 5px #000;
   border-radius:10px;
}
#home {
    float:right;
    width:70px;
    height:70px;
    padding-right: 20px;
    padding-bottom:20px;
}
#home p {
   margin:0;
}
.processed {
   margin:0 auto;
   width:80%;
   height:100px;
   padding:20px;
}
.processed a {
   text-decoration:none;
   width:100px;
}
a {
  font-size:15px;
  color:black;
  text-align:center;
}
#form1, #form2, #evalForm, #UTAForm, #GTAForm {
    font-family: Courier, monospace;
    letter-spacing: 1px;
    padding:20px;
    max-width:600px;
    margin:0 auto;
}
fieldset {
    border:none;
}
#step1 div {
   padding:10px;
}

#step1 input {
   width:100%;
   padding-top:5px;
   height:30px;
}

#nextB, #prevB, #submitB{
  width:100px;
  height: 50px;
  background-color:black;
  font-size: 24px;
  font-family: Courier, monospace;
  color:white;
  letter-spacing: 1px;
  font-weight:bold;
   border-radius:25px;
}
#part3 th, tr, td {
    margin-right:20px;
    line-height:100%;
    font-size:14px;
}

#part4 th, tr, td {
    margin-right:20px;
    line-height:100%;
    font-size:14px;
}
#errorBox, #nameError, #emailError, #idError,
#agreeError {
   font-size:10px;
   color:red;
}
#step2 th {
    padding:10px;
}
#step2 tr, td {
    padding:10px;
    border-top:1px solid black;
}
#step2 table {
   padding:10px;
   border-radius:25px;
   border:1px solid black;
}
#step3 li {
    padding-bottom:10px;
    padding-right:20px;
}


